#well_main{
  margin-top: 80px;
}
.textBox{
  width: 70%;
}
#well_mov{
  margin-top: 35px;
}
.text_big{
  font-size: 18px;
}
.text_large{
  font-size: 25px;
}
#headr{
	height: 300px;
	padding-top: 70px;
}
#main_header{
  color: #FFF;
  line-height: 18px;
  float: left;
  margin-top: 7px;
  height: 40px;
  text-align: left;
}
.modal-open .modal{
	position: fixed !important;
	z-index: 99 !important;
}
.modal-backdrop.in{
	position: static;
}
